<ion-view title="Add a Ride">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form ng-submit="addRide()">
    	<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">From</span>
		    <input type="text" placeholder="Ex: Kandy, Sri Lanka" ng-model="rideData.fromLocation">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">To</span>
		    <input type="text" ng-model="rideData.toLocation" placeholder="Ex: Colombo, Sri Lanka" >
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Date</span>
		    <input type="date" ng-model="rideData.date" placeholder="01/01/2015" >
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Time</span>
		    <input type="time" placeholder="" ng-model="rideData.startTime">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Available Seats</span>
		    <input type="number" ng-model="rideData.availableSeats" placeholder="Ex: 2" >
		  </label>
		  <label class="checkbox">Females only
       		<input type="checkbox" ng-model="rideData.femalesOnly">       		
     	  </label>
     	  <label class="checkbox">Non-smokers
       		<input type="checkbox" ng-model="rideData.nonSmokers">       		
     	  </label> 
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Comments</span>
		    <input type="text" placeholder="Ex: Non-smoker" ng-model="rideData.comments">
		  </label>
		  <div id="map" data-tap-disabled="true" style= "height:800px;width:100%"></div>
		 <!--  <input id="skill" type="range" min="1" max="100" value="0"> -->
		  <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
        
		</div>
    </form>
  </ion-content>
</ion-view>