<div class="modal">
  <ion-header-bar>
    <h1 class="title">Mark Position</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePositionMarker()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="savePosition()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">{{error_message}}</span>
        </label>
        <button class="button button-block button-positive" ng-click="loadPositionMarker()">Mark in Map</button>
    <!--     <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label> -->
        <button class="button button-block button-positive" ng-click="insertRider()">Ok</button>
        <div id="map_position" data-tap-disabled="true" style= "height:800px;width:1000px"></div>
        
      </div>
    </form>
  </ion-content>
</div>

