<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeLogin()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" class="custom-form">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{error_message}}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item item-input item-stacked-label">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <span class="register-option">or
          <a ui-sref="app.register" ng-click="closeLogin()">Register</a>
        </span>
      </div>
    </form>
  </ion-content>
</div>

