<ion-view title="Register">
  <form ng-submit="doRegister()" class="custom-form">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-checkmark-round" type="submit" ng-click="doRegister()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">Username</span>
          <input type="text" ng-model="registerData.username" placeholder="Ex: tom_123" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">Password</span>
          <input type="password" ng-model="registerData.password" placeholder="" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">Confirm Password</span>
          <input type="password"  placeholder="" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">First Name</span>
          <input type="text" ng-model="registerData.firstName" placeholder="Ex: Tom">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">Last Name</span>
          <input type="text" ng-model="registerData.lastName" placeholder="Ex: Mattew">
        </label>
        <label class="item item-input item-select item-stacked-label">
            <span class="input-label title-label">Gender</span>
            <select ng-model="registerData.gender">
              <option>Male</option>
              <option>Female</option>
            </select>
          </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">E mail</span>
          <input type="email" ng-model="registerData.email" placeholder="Ex: tom@gmail.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">Mobile No</span>
          <input type="text" ng-model="registerData.telephone" placeholder="Ex: 07xxxxxxxx" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label title-label">My Location</span>
          <input type="text" ng-model="registerData.location">
          <!-- get the location here using a map    need to adjust placement .. otherwise the map wont show        -->
          <!-- placement is a mess -->
          <!-- should modify so that user can select the location from map or give a place name and select from a list -->
          <!-- <span>
          <div id="map" data-tap-disabled="true" style= "height:800px;width:1000px"></div>
          </span> -->
        </label>
      </div>
  </ion-content>
  </form>
</ion-view>