<ion-view title="Ride" ng-init="loadRide()">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style= "height:100%;width:100%">

    <form ng-init="loadRide()">
      <div class="list">
        
        <button class="button button-block button-positive" ng-show="rideAuthor==currentUserr" type="submit" ng-click="loadRide()" ui-sref="app.ride({ rideId: {{currentRideId}}, editable: true})">Edit</button>
        <button class="button button-block button-positive" ng-show="rideAuthor==currentUserr" type="submit" ng-click="deleteRide()">Delete</button>
        <button class="button button-block button-positive" ng-show="rideAuthor!=currentUserr" type="submit" ng-click="joinRide">Join</button>
        <button class="button button-block button-positive" ng-show="rideAuthor!=currentUserr" type="submit" ng-click="removeRide">Remove from ride</button>
       ride auth {{rideAuthor}}
        : current user
        {{currentUserr}}
        : currentRideId {{currentRideId}}
 
  <div class="row">
  	<span class="col col-20">From:</span>
  	<span class="col" ng-model="rideDetails.from_location" >{{rideDetails.from_location}}</span>
  </div>
  <div class="row">
    <span class="col col-20">To:</span>
    <span class="col" ng-model="rideDetails.to_location" >{{rideDetails.to_location}}</span>
  </div>
  <div class="row">
    <span class="col col-20">Available seats :</span>
    <span class="col" ng-model="rideDetails.to_location" >{{rideDetails.available_seats}}</span>
  </div>

   <div class="row">
    <span class="col col-20">Start Date :</span>
    <span class="col" ng-model="rideDetails.to_location" >{{rideDetails.start_date}}</span>
  </div>

   <div class="row">
    <span class="col col-20">Start Time :</span>
    <span class="col" ng-model="rideDetails.to_location" >{{rideDetails.start_time}}</span>
  </div>
  <div class="row">
    <span class="col col-20">Current status of the ride:</span>
    <span class="col" ng-model="rideDetails.to_location" >{{rideStatus}}</span>
  </div>

    <div>
     <div id="map" data-tap-disabled="true" style= "height:800px;width:100%"></div>
    </div>
    </div>
    </form>

  </ion-content>
</ion-view>
