<ion-view title="Ride">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style= "height:100%;width:100%">
  	<span >From:</span>
  	<p ng-model="fromLocationMap">{{fromLocationMap}}</p>
  	<span >To:</span>
  	<p ng-model="toLocationMap"> {{toLocationMap}}</p>
  	<p ng-model="availableSeats"> Available seats : {{availableSeats}}</p>
  	<p ng-model="rideStatus"> Current status of the ride : {{rideStatus}}</p>
    <div id="map" data-tap-disabled="true" style= "height:800px;width:100%"></div>
  </ion-content>
</ion-view>
