<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <ion-item nav-clear menu-close ui-sref="app.user({ userId: userDetails.user_id})">
        View User Profile 
      </ion-item>
      <ion-item nav-clear menu-close ui-sref="app.edituser({ userId: userDetails.user_id})">
        Edit User Profile
      </ion-item> 
      <ion-item nav-clear menu-close ng-click="logOut()">
        Sign Out
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
