<!-- just for testing how to access the Json service -->

<ion-view title="User">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">  	
    <label class="item item-input">
          <span class="input-label">user data :: </span>
          <p ng-model="users"> {{users}}</p>
    </label>
    <br>
    <table >
      come here
      <tr ng-repeat="x in users">
        <td>{{ x.first_name.trim() }} &nbsp</td>
        <td>{{ x.last_name.trim() }}</td>
      </tr>
    </table>
        
  </ion-content>
</ion-view>
