<!-- just for testing how to access the Json service -->

<ion-view title="User">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">  	
    <label class="item item-input">
          <span class="input-label">user data :: </span>
          <p ng-model="users"> {{users}}</p>

          <!-- <ul data-ng-show="showUsers">
      <li data-ng-repeat="user in users">{{user.first_name}}</li>
    </ul>  -->
        </label>
  </ion-content>
</ion-view>
