<div class="modal">
  <ion-header-bar>
    <h1 class="title">Add Vehicle</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeVehicle()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addVehicle()" class="custom-form">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{error_message}}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Vehicle No</span>
          <input type="text" ng-model="vehicleData.vehicle_no">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Type of vehicle</span>
          <input type="text" ng-model="vehicleData.type">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">available seats</span>
          <input type="number" ng-model="vehicleData.available_seats">
        </label>
        <label class="item item-input item-stacked-label">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
        
      </div>
    </form>
  </ion-content>
</div>

